<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="font-serif ">
    
    <div class="w-full p-4 bg-cover relative bg-center" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/2c/World-map.svg)">
      <div class="absolute bottom-4 right-0 text-sm text-gray-300"><a href="https://commons.wikimedia.org/wiki/File:World-map.svg">wooptoo</a>, Public domain, via Wikimedia</div>
      <main role="main" class="w-full flex flex-col h-screen content-center justify-center">
          <div class="w-full sm:w-2/3 lg:w-2/3 bg-gray-50 m-auto border-8 border-gray-300 relative overflow-hidden">
            <div class="bg-gray-300 absolute -top-4 -left-4 w-8 h-8 rounded-full">&nbsp;</div>
            <div class="bg-gray-300 absolute -top-4 -right-4 w-8 h-8 rounded-full">&nbsp;</div>
            <div class="bg-gray-300 absolute inset-y-1/2 -mt-4 -left-4 w-8 h-8 rounded-full">&nbsp;</div>
            <div class="bg-gray-300 absolute inset-y-1/2 -mt-4 -right-4 w-8 h-8 rounded-full">&nbsp;</div>
            <div class="bg-gray-300 absolute -bottom-4 -left-4 w-8 h-8 rounded-full">&nbsp;</div>
            <div class="bg-gray-300 absolute -bottom-4 -right-4 w-8 h-8 rounded-full">&nbsp;</div>
              <div class="bg-white rounded shadow px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                {{ content }}
              </div>
          </div>
      </main>
  </div>
  </body>
</html>
j